@font-face {
    font-family: 'Camber';
    src: url('./assets/fonts/Camber.otf')format("opentype");
}

:root {
    --animation-timeframe: 300ms;
}

* {
    padding: 0px;
    margin: 0px;
    cursor: none;
}

body{
    background-color: #444444;
}

p, li, a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Camber", sans-serif;
}


main {
    color: white;
    flex-direction: column;
    font-family: "Camber", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 3rem;
    width: 100vw;
    background-color: #2a2a2a;
    height: auto;
}




