@font-face {
    font-family: 'Camber';
    src: url('./assets/fonts/Camber.otf')format("opentype");
}

:root {
    --animation-timeframe: 300ms;
}

* {
    padding: 0px;
    margin: 0px;
    cursor: none;
    box-sizing: border-box;
}

body{
    background-color: #2a2a2a;
    overflow-x: hidden;
}

p, li, a, label, input{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

p {
    color: #9a9a9a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Camber", sans-serif;
    color: #b6b6b6;
}


main {
    color: white;
    flex-direction: column;
    font-family: "Camber", sans-serif;
    display: flex;
    align-items: center;
    min-height: 90vh;
    font-size: 3rem;
    width: 100vw;
    background-color: #2a2a2a;
    height: min-content;
}


.wrapper {
    width: 90%;
    max-width: 800px;
    margin: 100px 0px;
}

.page-centered {
    justify-content: center;
}



