footer {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform var(--animation-timeframe) ease-in-out;
    width: 100vw;
    display: none;
    
    & p {
        color: white;
        text-align: center;
    }
}


.animating {
    & footer {
        position: fixed;
        // transform: translate(-50%, 70px);
    }
}



@media only screen and (max-width: 360px){
    footer{
        display: none;
    }
}