@keyframes menu-animation-out {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    45% {
        -moz-transform: rotate(185deg);
        -ms-transform: rotate(185deg);
        -webkit-transform: rotate(185deg);
        transform: rotate(185deg);
    }
    100% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes menu-animation-in {
    0% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    45% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

.site-header {

    & nav {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #333;
        z-index: 100;
        -moz-transition: -moz-transform .45s cubic-bezier(.45,0,0,1);
        -o-transition: -o-transform .45s cubic-bezier(.45,0,0,1);
        -webkit-transition: -webkit-transform .45s cubic-bezier(.45,0,0,1);
        transition: transform .45s cubic-bezier(.45,0,0,1);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        & a {
            color: white;
            position: relative;
            box-sizing: border-box;
            background-color: rgba($color: #000000, $alpha: 0.2);
            width: 80%;
            max-width: 600px;
            padding: 30px 0;
            text-align: center;
            border-radius: 5px;
            font-family: "Camber";
            font-weight: bold;
            text-decoration: none;
            font-size: 2rem;

            &:hover {
                &::after {
                    width: 50%;
                }
                &::before {
                    width: 50%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 0%;
                height: 100%;
                background-color: #1f1f1f;
                transition: width .3s ease;
                z-index: -1;
                border-radius: 0px 5px 5px 0px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 50%;
                width: 0%;
                height: 100%;
                background-color: #1f1f1f;
                transition: width .3s ease;
                z-index: -1;
                border-radius: 5px 0px 0px 5px;
            }
        }
    }

    &.hidden {
        & nav {
            transform: translate3d(0,-100%,0);
        }
    }


    & .menu-toggle {
        position: fixed;
        right: 35px;
        top: 35px;
        z-index: 999;
        cursor: pointer;
        padding: 5px 4px;
        background-color: transparent;
        transition: transform var(--animation-timeframe);
        
        & i {
            display: block;
            width: 42px;
            height: 2px;
            margin: 8px;
            background-color: #7a7a7a;


            &:nth-child(n){
                -moz-transition: -moz-transform .45s cubic-bezier(.43,.77,.15,1.5), background .3s ease;
                -o-transition: -o-transform .45s cubic-bezier(.43,.77,.15,1.5), background .3s ease;
                -webkit-transition: -webkit-transform .45s cubic-bezier(.43,.77,.15,1.5), background .3s ease;
                transition: transform .45s cubic-bezier(.43,.77,.15,1.5), background .3s ease;
            }
        }



        &.hover {
            & i {
                &:nth-child(1){
                    -moz-transform: translate3d(0,-4px,0);
                    -ms-transform: translate3d(0,-4px,0);
                    -webkit-transform: translate3d(0,-4px,0);
                    transform: translate3d(0,-4px,0);
                }


                &:nth-child(3){
                    -moz-transform: translate3d(0,4px,0);
                    -ms-transform: translate3d(0,4px,0);
                    -webkit-transform: translate3d(0,4px,0);
                    transform: translate3d(0,4px,0);
                }
            }
        }


        // Animation Phase 1
        &.animate-1 {
            animation: menu-animation-in .8s cubic-bezier(.2,.86,.35,1) forwards;
            -webkit-animation: menu-animation-in .8s cubic-bezier(.2,.86,.35,1) forwards;

            & i {
                &:nth-child(1){
                    -moz-transform: translate3d(0,9px,0);
                    -ms-transform: translate3d(0,9px,0);
                    -webkit-transform: translate3d(0,9px,0);
                    transform: translate3d(0,9px,0);
                }
                &:nth-child(3){
                    -moz-transform: translate3d(0,-9px,0);
                    -ms-transform: translate3d(0,-9px,0);
                    -webkit-transform: translate3d(0,-9px,0);
                    transform: translate3d(0,-9px,0);
                }
            }
        }




        // Animation Phase 2
        &.animate-2 {
            animation: menu-animation-out .85s cubic-bezier(.2,.86,.35,1) forwards;
            -webkit-animation: menu-animation-out .85s cubic-bezier(.2,.86,.35,1) forwards;

            & i {
                &:nth-child(1){
                    -moz-transform: translate3d(0,10px,0) rotate(45deg) scale(1.5);
                    -ms-transform: translate3d(0,10px,0) rotate(45deg) scale(1.5);
                    -webkit-transform: translate3d(0,10px,0) rotate(45deg) scale(1.5);
                    transform: translate3d(0,10px,0) rotate(45deg) scale(1.5);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    -moz-transform: translate3d(0,-10px,0) rotate(-45deg) scale(1.5);
                    -ms-transform: translate3d(0,-10px,0) rotate(-45deg) scale(1.5);
                    -webkit-transform: translate3d(0,-10px,0) rotate(-45deg) scale(1.5);
                    transform: translate3d(0,-10px,0) rotate(-45deg) scale(1.5);
                }
            }

            &.hover {
                & i {
                    &:nth-child(1){
                        -moz-transform: translate3d(0,10px,0) rotate(50deg) scale(1.5);
                        -ms-transform: translate3d(0,10px,0) rotate(50deg) scale(1.5);
                        -webkit-transform: translate3d(0,10px,0) rotate(50deg) scale(1.5);
                        transform: translate3d(0,10px,0) rotate(50deg) scale(1.5);
                    }


                    &:nth-child(3){
                        -moz-transform: translate3d(0,-10px,0) rotate(-50deg) scale(1.5);
                        -ms-transform: translate3d(0,-10px,0) rotate(-50deg) scale(1.5);
                        -webkit-transform: translate3d(0,-10px,0) rotate(-50deg) scale(1.5);
                        transform: translate3d(0,-10px,0) rotate(-50deg) scale(1.5);
                    }
                }
            }
        }
    }
}


// WHILE PAGE TRANSITIONING
.animating {
    & .site-header {
        & .menu-toggle {
            transform: translateX(100px)
        }
    }
}



@media only screen and (max-width: 767px){
    .site-header {
        & nav {
            & a {
                font-size: 1.8rem;
            }
        }
    }
}


@media only screen and (max-width: 500px){
    .site-header {
        & nav {
            & a {
                font-size: 1.5rem;
            }
        }
    }
}