.home-socials {
    position: absolute;
    left: -40px;
    transition: transform var(--animation-timeframe);
    z-index: 100;


    & .social-link {
        height: 60px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: transform 300ms;
        border-radius: 5px;

        & svg {
            width: 35px; 
            height: 35px;
            padding-right: 10px;
        }


        // HOVER EFFECT
        &:hover {
            transform: translateX(30px);
        }


        // BACKGROUND COLORS
        &.instagram {
            background-color: (circle at 25% 110%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%),radial-gradient(circle at 25% 110%,#b9a800 0,#938500 5%,#b10f00 45%,#8c0061 60%,#002ca9 90%)
        }
        
        &.linkedin {
            background-color: #0077ba;
        }
        
        &.github {
            background-color: #4e545a;
        }
    }
}

// DURING PAGE TRANSITION
.animating {
    & .home-socials {
        transform: translateX(-60px);

    }
}


@media only screen and (max-width: 1000px) {
    .home-socials {
        left: -55px;
        
        & .social-link {
            height: 50px;

            & svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}


@media only screen and (max-width: 767px){
    .home-socials {
        bottom: 35px;
    }
}