/*CUSTOM MOUSE*/
[class^="cursor"]{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 99999;
    pointer-events: none;
  }
  .cursor-inner{
    width: 7px;
    height: 7px;
    background: #fff;
    transition: width 200ms ease-out, height 200ms ease-out, opacity 200ms ease-out;

    &.cursor-pressed {
        width: 50px;
        height: 50px;
    }

    &.cursor-hover-link {
        opacity: .5;
    }

    &.cursor-menu-toggle{
      opacity: 0;
    }
  }
  
  .cursor-outer{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    transition: top 0.06s ease-out;
    transition: left 0.06s ease-out, width 200ms ease-out, height 200ms ease-out, border-radius 200ms ease-out;

    &.cursor-hover {
        width: 40px;
        height: 40px;
        background-color: #fff;
        mix-blend-mode: difference;
    }


    &.cursor-hover-link {
        width: 7px;
        height: 7px;
        mix-blend-mode: difference;
    }


    &.cursor-menu-toggle{
      border-radius: 3px;
      opacity: 0;
    }
  }


  @media only screen and (max-width: 1020px){
    [class^="cursor"]{
      display: none;
    }
  }
  
  
  