.github-banner {
    width: 400px;
    background-color: #5895d0;
    height: 45px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -45px;
    left: 0px;
    transform: rotateZ(315deg) translate(-160px, -6px);
    transition: transform var(--animation-timeframe);

    &:hover {
        background-color: rgb(69, 138, 207);
    }
}


.animating {
    & .github-banner {
        transform: rotateZ(315deg) translate(-160px, -172px);
    }
}



@media only screen and (max-width: 1000px) {
    .github-banner {
        height: 30px;
        transform: rotateZ(315deg) translate(-162px, -32px);
        font-weight: 500;
        font-size: 14px;
    }
}